@import "../../assests/scss/colorVariables";

.stars {
    position: relative;
    min-width: 200px;
    display: inline-flex;
    .star{
        position: absolute;
        display: inline-flex;
        mask: url(../../assests/images/icon/star.svg);
        &:not(.placholder) {
            z-index: 2;
            background-color: $yellow;
        }
        &.placeholder{
            z-index: 1;
            background-color: $gray-300;
        }
    }
}